#browsertable {
    display:block;
    border-style: solid;
    border-width: 5px;
    border-color: #DCDCDC;
    font-size: 34px;
}
#gif  {
    z-index: 0;
    display:block;
    height:460px;
    width:460px;
    float:right;
}
#isnot {
    z-index:10;
    display:block;
    height:460px;
    width:460px;
    margin-right:-460px;
    float:right;
}